To run it, you will need to import the following packages, csv, re, tabulate, sys, time, threading.
You also need a csv file like the example I gave you.
The command to run it is python project.py csvfile.csv